# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/

# Django stuff
*.log
local_settings.py
db.sqlite3
media/

# PyCharm / IntelliJ
.idea/

# Environment variables
.env

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
